@import "vars", "mixins";

#sandbox {
    position:relative;
    border:1px solid green;
    overflow:hidden;
    @include text-selection(none);

    &.isolated {
        /* Isolation mode activated */
        .default_sandbox {
            opacity:0.3;
            pointer-events:none;
        }
    }

    .marquee {
        display:none;
        position:absolute;
        border:1px solid blue;
        background:LightSkyBlue;
        pointer-events:none;
        @include opacity(0.3);
    }

    .element_outlines {
        pointer-events:none;

        .outline {
            position:absolute;
            border:1px solid transparent;
            pointer-events:none;

            &.under_marquee {
                border-color:blue;
                z-index:3;
            }

            &.resizable {
                &, > div {
                    &:before,
                    &:after {
                        content:"\00a0";
                        position:absolute;
                        width:8px;
                        height:8px;
                        border:1px solid transparent;
                        background:#fff;
                        z-index:1;
                        pointer-events:all;
                    }
                }

                &.hovering {
                    $color:yellow;
                    border-color:$color;
                    z-index:1;

                    &, > div {
                        &:before,
                        &:after {
                            border-color:$color;
                        }
                    }
                }

                &.selected {
                    $color:red;
                    border-color:$color;
                    z-index:2;

                    &, > div {
                        &:before,
                        &:after {
                            border-color:$color;
                        }
                    }
                }

                &:before {
                    left:-4px;
                    top:-4px;
                    cursor:nw-resize;
                }
                &:after {
                    right:-4px;
                    top:-4px;
                    cursor:ne-resize;
                }
                > div:before {
                    left:-4px;
                    bottom:-4px;
                    cursor:sw-resize;
                }
                > div:after {
                    right:-4px;
                    bottom:-4px;
                    cursor:se-resize;
                }
            }
        }
    }
}
